{{template "_header.tmpl" .}}
        <div class="content-card">
                <div class="content-header">
                        <i class="fas fa-key"></i>
                        <div class="content-header-text">
                                <span>Recover Account</span>
                        </div>
                </div>
                <div class="content-body">
                        <form action="#">
                                <p style="color: #A11;">Account recovery is not currently implemented.</p>

                                <label for="recover_email">EMAIL</label>
                                <input id="recover_email" type="email" name="email"/>

                                <input type="submit" value="Recover" disabled/>
                        </form>
                </div>
        </div>
{{template "_footer.tmpl" .}}
