{{template "_header.tmpl" .}}
        <div class="content-card">
                <div class="content-header">
                        <i class="fas fa-skull"></i>
                        <div class="content-header-text">
                                <span>
                                {{with .World}}
                                        Kill Statistics - <a href="/world?name={{.Name}}" style="color: var(--accent-gold);">{{.Name}}</a>
                                {{else}}
                                        Kill Statistics
                                {{end}}
                                </span>
                        </div>
                </div>
                <div class="content-body">
                        {{with .World}}
                                <table class="info">
                                        <tr>
                                                <th>Players Online:</th>
                                                <td>{{.NumPlayers}}</td>
                                        </tr>
                                        <tr>
                                                {{if gt .LastStartup .LastShutdown}}
                                                        <th>Uptime:</th>
                                                        <td>{{FormatDurationSince .LastStartup}}</td>
                                                {{else}}
                                                        <th>Downtime:</th>
                                                        <td style="color: #A11;">{{FormatDurationSince .LastShutdown}}</td>
                                                {{end}}
                                        </tr>
                                </table>
                                <br>
                        {{end}}
                        {{if .KillStatistics}}
                                <table>
                                        <tr>
                                                <th>Creature</th>
                                                <th>Times Killed</th>
                                                <th>Players Killed</th>
                                        </tr>
                                        {{range .KillStatistics}}
                                                <tr>
                                                        <td>{{.RaceName}}</td>
                                                        <td>{{.TimesKilled}}</td>
                                                        <td>{{.PlayersKilled}}</td>
                                                </tr>
                                        {{end}}
                                </table>
                        {{else}}
                                <p>There are no kill statistics.</p>
                        {{end}}
                </div>
        </div>
{{template "_footer.tmpl" .}}
