{{template "_header.tmpl" .}}
        <div class="content-card">
                <div class="content-header">
                        <i class="fas fa-info-circle"></i>
                        <div class="content-header-text">
                                <span>{{.Heading}}</span>
                        </div>
                </div>
                <div class="content-body">
                        <div>{{HTML .Message}}</div>
                </div>
        </div>
{{template "_footer.tmpl" .}}
